@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}

.top-line-logo {
    width: 230px;
    height: auto;
    margin-left: 50px;
}

.description-image {
    width: auto;
    height: 300px;
}

.blurb-img {
    width: 170px;
    height: 170px;
}

button {
    background-color: orange;
    width: 120px;
    height: 30px;
    border-radius: 12px;
}

.header {
    background-color: rgb(230, 188, 106);

}

.top-line {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.top-line-links{
    align-self: center;
}
.top-line-links > * { 

    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 18px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    gap: 5vw;
}

li > * {
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.description {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.description-text {
    margin-left: 100px;
}

.description-image {
    margin-right: 100px;
    flex: 0;
}

.description-text-title {
    font-size: 48px;
    color: black;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 40px;
}

.info-blurb {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.blurb {
    width: 170px;
}

.blurb-text {
    text-align: center;
}

.quote {
    background-color: rgb(230, 188, 106);
    text-align: center;
    padding: 3em;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0 100px;
}

.quote-source {
    text-align: right;
    margin-right: 100px;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 50px;
    background-color: rgb(235, 162, 98);
    margin: 50px 10em;
    border-radius: 30px;
}

.cta-title {
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: rgb(182, 182, 182);
    padding: 10px;
}